<!doctype html>
<html>
    <body>
        <div class="container">
            <div class="home">
                <h2>Bienvenido a la Clinica Hamer</h2>
            </div>
            <div class="buttons">
                <button routerLink="/login" class="btn btn-primary m-1">Login</button>
                <button routerLink="/registro-pacientes" class="btn btn-primary m-1">Registrar Paciente</button>
                <button routerLink="/registro-especialistas" class="btn btn-primary m-1">Registrar Especialista</button>
            </div>
        </div>
    </body>
</html>