<mat-card style="background-color: #7b97aa;">
    <div class="row" style="max-width: 99%; flex-direction: column; display: flex;">
        <div class="col-12">
            <button appBorde matTooltip="Especialista" class="boton profile-button m-3" (click)="ir('registro-especialistas')">
                <img src="https://firebasestorage.googleapis.com/v0/b/tpclinicalabhamer.appspot.com/o/especialista.png?alt=media&token=2c25ca94-efe2-40fa-ba5e-0d2976ef883c">
            </button>
        </div>
        <div class="col-12">
            <button appBorde matTooltip="Paciente" class="boton profile-button m-3" (click)="ir('registro-pacientes')">
                <img src="https://firebasestorage.googleapis.com/v0/b/tpclinicalabhamer.appspot.com/o/paciente2.png?alt=media&token=5cf439f5-b332-4664-901e-e15bd8e87ffd">
            </button>
        </div>
    </div>
</mat-card>
