<mat-card class="p-3">
  <mat-card-title>
      <div class="d-flex justify-content-center"> 
      <h1>Mi Perfil</h1>
      </div>
  </mat-card-title>
  <app-datos-perfil [usuario]="usuario"></app-datos-perfil>
</mat-card>


<ng-container *ngIf="usuario?.data?.perfil === 'Paciente'">
  <app-historia-clinica-form></app-historia-clinica-form>
</ng-container>

<mat-card class="p-3 mt-3" *ngIf="usuario?.data?.perfil === 'Especialista'">
  <mat-card-title>
      <div class="d-flex justify-content-center"> 
      <h1>Mis Horarios</h1>
      </div>
  </mat-card-title>
  <form [formGroup]="form">
  <div class="mat-elevation-z8 mt-3 mb-3" >
      <div class="row">
          
          <div class="col-12 m-3" style="width: 100%; overflow-x: auto; white-space: nowrap;max-width: 95%;">
                  <ul>
                      <li>
                          <input type="checkbox" id="lunes" class="custom-checkbox" formControlName="lunes" name="lunes">
                          <label for="lunes" class="ml-3">Lunes</label>
                          <span class="ml-3">desde:</span>
                          <input type="time" class="ml-3" formControlName="lunesDesde" name="lunesDesde">
                          <span class="ml-3">hasta:</span>
                          <input type="time" class="ml-3" formControlName="lunesHasta" name="lunesHasta">
                          <label style="width: auto;" class="ml-3">duracion del turno:</label>
                          <input type="number" class="ml-3" formControlName="duracionTurnoLunes" name="duracionTurnoLunes">
                          <span class="ml-3">minutos</span>

                          <mat-form-field class="potage-field ml-3">
                              <mat-label>Especialidades:</mat-label>
                              <mat-select formControlName="lunesEspecialidad" name="lunesEspecialidad" [compareWith]="selectEspecialidad">
                                  
                                  <mat-option *ngFor="let reg of especialidades" [value]="reg">{{reg}}
                                  </mat-option>
                              </mat-select>
                              
                          </mat-form-field>
                          
                          <span *ngIf="(form.controls['duracionTurnoLunes'].errors?.['min'] || form.controls['duracionTurnoLunes'].errors?.['max'])  && form.controls['duracionTurnoLunes'].touched" style="color: red;"><br>Duracion del turno fuera de rango: (30-60)min</span>
                          <span *ngIf="(form.controls['lunesDesde'].errors?.['timeRange'] || form.controls['lunesHasta'].errors?.['timeRange'])" style="color: red;"><br>Horario de atencion fuera de rango: (08:00-19:00)hs.</span>
                      </li>
                      <li>
                          <input type="checkbox" id="martes" class="custom-checkbox"  formControlName="martes" name="martes">
                          <label for="martes">Martes</label>
                          <span class="ml-3">desde:</span>
                          <input type="time"  class="ml-3"  formControlName="martesDesde" name="martesDesde">
                          <span class="ml-3">hasta:</span>
                          <input type="time" class="ml-3"  formControlName="martesHasta" name="martesHasta">
                          <label style="width: auto;" class="ml-3">duracion del turno:</label>
                          <input type="number"  formControlName="duracionTurnoMartes" name="duracionTurnoMartes">
                          <span class="ml-3">minutos</span>
                          <mat-form-field class="potage-field ml-3">
                              <mat-label>Especialidades:</mat-label>
                              <mat-select formControlName="martesEspecialidad" name="martesEspecialidad" [compareWith]="selectEspecialidad">
              
                                  <mat-option *ngFor="let reg of especialidades" [value]="reg">{{reg}}
                                  </mat-option>
                              </mat-select>
              
                          </mat-form-field>
                          <span *ngIf="(form.controls['duracionTurnoMartes'].errors?.['min'] || form.controls['duracionTurnoMartes'].errors?.['max'])  && form.controls['duracionTurnoMartes'].touched" style="color: red;"><br>Duracion del turno fuera de rango: (30-60)min</span>
                          <span *ngIf="(form.controls['martesDesde'].errors?.['timeRange'] || form.controls['martesHasta'].errors?.['timeRange'])" style="color: red;"><br>Horario de atencion fuera de rango: (08:00-19:00)hs.</span>
                      </li>
                      <li>
                          <input type="checkbox" id="miércoles" class="custom-checkbox" formControlName="miercoles" name="miercoles">
                          <label for="miércoles">Miércoles</label>
                          <span class="ml-3">desde:</span>
                          <input type="time" class="ml-3" formControlName="miercolesDesde" name="miercolesDesde">
                          <span class="ml-3">hasta:</span>
                          <input type="time" class="ml-3" formControlName="miercolesHasta" name="miercolesHasta">
                          <label style="width: auto;" class="ml-3">duracion del turno:</label>
                          <input type="number"  formControlName="duracionTurnoMiercoles" name="duracionTurnoMiercoles">
                          <span class="ml-3">minutos</span>
                          <mat-form-field class="potage-field ml-3">
                              <mat-label>Especialidades:</mat-label>
                              <mat-select formControlName="miercolesEspecialidad" name="miercolesEspecialidad" [compareWith]="selectEspecialidad">
              
                                  <mat-option *ngFor="let reg of especialidades" [value]="reg">{{reg}}
                                  </mat-option>
                              </mat-select>
              
                          </mat-form-field>
                          <span *ngIf="(form.controls['duracionTurnoMiercoles'].errors?.['min'] || form.controls['duracionTurnoMiercoles'].errors?.['max'])  && form.controls['duracionTurnoMiercoles'].touched" style="color: red;"><br>Duracion del turno fuera de rango: (30-60)min</span>
                          <span *ngIf="(form.controls['miercolesDesde'].errors?.['timeRange'] || form.controls['miercolesHasta'].errors?.['timeRange'])" style="color: red;"><br>Horario de atencion fuera de rango: (08:00-19:00)hs.</span>
                      </li>
                      <li>
                          <input type="checkbox" id="jueves" class="custom-checkbox" formControlName="jueves" name="jueves">
                          <label for="jueves">Jueves</label>
                          <span class="ml-3">desde:</span>
                          <input type="time" class="ml-3" formControlName="juevesDesde" name="juevesDesde">
                          <span class="ml-3">hasta:</span>
                          <input type="time" class="ml-3" formControlName="juevesHasta" name="juevesHasta">
                          <label style="width: auto;" class="ml-3">duracion del turno:</label>
                          <input type="number"  formControlName="duracionTurnoJueves" name="duracionTurnoJueves">
                          <span class="ml-3">minutos</span>
                          <mat-form-field class="potage-field ml-3">
                              <mat-label>Especialidades:</mat-label>
                              <mat-select formControlName="juevesEspecialidad" name="juevesEspecialidad" [compareWith]="selectEspecialidad">
              
                                  <mat-option *ngFor="let reg of especialidades" [value]="reg">{{reg}}
                                  </mat-option>
                              </mat-select>
              
                          </mat-form-field>
                          <span *ngIf="(form.controls['duracionTurnoJueves'].errors?.['min'] || form.controls['duracionTurnoJueves'].errors?.['max'])  && form.controls['duracionTurnoJueves'].touched" style="color: red;"><br>Duracion del turno fuera de rango: (30-60)min</span>
                          <span *ngIf="(form.controls['juevesDesde'].errors?.['timeRange'] || form.controls['juevesHasta'].errors?.['timeRange'])" style="color: red;"><br>Horario de atencion fuera de rango: (08:00-19:00)hs.</span>
                      </li>
                      <li>
                          <input type="checkbox" id="viernes" class="custom-checkbox" formControlName="viernes" name="viernes">
                          <label for="viernes">Viernes</label>
                          <span class="ml-3">desde:</span>
                          <input type="time"  class="ml-3" formControlName="viernesDesde" name="viernesDesde">
                          <span class="ml-3">hasta:</span>
                          <input type="time"  class="ml-3" formControlName="viernesHasta" name="viernesHasta">
                          <label style="width: auto;" class="ml-3">duracion del turno:</label>
                          <input type="number"  formControlName="duracionTurnoViernes" name="duracionTurnoViernes">
                          <span class="ml-3">minutos</span>
                          <mat-form-field class="potage-field ml-3">
                              <mat-label>Especialidades:</mat-label>
                              <mat-select formControlName="viernesEspecialidad" name="viernesEspecialidad" [compareWith]="selectEspecialidad">
              
                                  <mat-option *ngFor="let reg of especialidades" [value]="reg">{{reg}}
                                  </mat-option>
                              </mat-select>
              
                          </mat-form-field>
                          <span *ngIf="(form.controls['duracionTurnoViernes'].errors?.['min'] || form.controls['duracionTurnoViernes'].errors?.['max'])  && form.controls['duracionTurnoViernes'].touched" style="color: red;"><br>Duracion del turno fuera de rango: (30-60)min</span>
                          <span *ngIf="(form.controls['viernesDesde'].errors?.['timeRange'] || form.controls['viernesHasta'].errors?.['timeRange'])" style="color: red;"><br>Horario de atencion fuera de rango: (08:00-19:00)hs.</span>
                      </li>
                      <li>
                          <input type="checkbox" id="sábado" class="custom-checkbox" formControlName="sabado" name="sabado">
                          <label for="sábado">Sábado</label>
                          <span class="ml-3">desde:</span>
                          <input type="time"  class="ml-3" formControlName="sabadoDesde" name="sabadoDesde">
                          <span class="ml-3">hasta:</span>
                          <input type="time" class="ml-3" formControlName="sabadoHasta" name="sabadoHasta">
                          <label style="width: auto;" class="ml-3">duracion del turno:</label>
                          <input type="number"  formControlName="duracionTurnoSabado" name="duracionTurnoSabado">
                          <span class="ml-3">minutos</span>
                          <mat-form-field class="potage-field ml-3">
                              <mat-label>Especialidades:</mat-label>
                              <mat-select formControlName="sabadoEspecialidad" name="sabadoEspecialidad" [compareWith]="selectEspecialidad">
              
                                  <mat-option *ngFor="let reg of especialidades" [value]="reg">{{reg}}
                                  </mat-option>
                              </mat-select>
              
                          </mat-form-field>
                          <span *ngIf="(form.controls['duracionTurnoSabado'].errors?.['min'] || form.controls['duracionTurnoSabado'].errors?.['max'])  && form.controls['duracionTurnoSabado'].touched" style="color: red;"><br>Duracion del turno fuera de rango: (30-60)min</span>
                          <span *ngIf="(form.controls['sabadoDesde'].errors?.['timeRange'] || form.controls['sabadoHasta'].errors?.['timeRange'])" style="color: red;"><br>Horario fuera rango: (08:00-14:00).</span>
                      </li>
                  </ul>
          </div>
          <div class="d-flex justify-content-center">
              <section class="potage-section">
                  <button class="btn btn-secondary ml-3 mb-3" (click)="guardarTurnos()" style="float: left;">Guardar horarios</button>
                  <mat-progress-spinner *ngIf="cargando" mode="indeterminate" diameter="30" color="primary" class="mt-3 ml-3" style="float: left;"></mat-progress-spinner>
              </section>
          </div>

      </div>
  </div>
  </form>
</mat-card>