<form id="contact-form" [formGroup]="form" class="form_class">
  <div class="head">
    <h1>Registrar Administradores</h1>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6">
      <div class="form-box subject-icon">
        <label>Mail:</label>
        <input
          class="field_class"
          type="Email"
          formControlName="mail"
          name="mail"
          placeholder="Mail"
        />
        <span
          *ngIf="form.controls['mail'].errors?.['required'] && form.controls['mail'].touched"
          style="color: red"
        >
          Mail es requerido</span
        >
      </div>
    </div>
    <div class="col-lg-6 col-md-6">
      <div class="form-box subject-icon">
        <label>Clave:</label>
        <input
          class="field_class"
          type="password"
          formControlName="clave"
          name="clave"
          placeholder="Clave"
        />
        <span
          *ngIf="form.controls['clave'].errors?.['required'] && form.controls['clave'].touched"
          style="color: red"
        >
          Clave es requerido</span
        >
      </div>
    </div>
    <div class="col-lg-6 col-md-6">
      <div class="form-box subject-icon">
        <label>Nombre:</label>
        <input
          class="field_class"
          type="text"
          formControlName="nombre"
          name="nombre"
          placeholder="Nombre"
        />
        <span
          *ngIf="form.controls['nombre'].errors?.['required'] && form.controls['nombre'].touched"
          style="color: red"
        >
          Nombre es requerido</span
        >
      </div>
    </div>
    <div class="col-lg-6 col-md-6">
      <div class="form-box subject-icon">
        <label>Apellido:</label>
        <input
          class="field_class"
          type="text"
          formControlName="apellido"
          name="apellido"
          placeholder="Apellido"
        />
        <span
          *ngIf="form.controls['apellido'].errors?.['required'] && form.controls['apellido'].touched"
          style="color: red"
        >
          Apellido es requerido</span
        >
      </div>
    </div>
    <div class="col-lg-6 col-md-6">
      <div class="form-box subject-icon">
        <label>Edad:</label>
        <input
          class="field_class"
          type="number"
          formControlName="edad"
          name="edad"
          placeholder="Edad"
        />
        <span
          *ngIf="form.controls['edad'].errors?.['required'] && form.controls['edad'].touched"
          style="color: red"
        >
          Edad es requerido</span
        >
      </div>
    </div>
    <div class="col-lg-6 col-md-6">
      <div class="form-box subject-icon">
        <label>DNI:</label>
        <input
          class="field_class"
          type="number"
          formControlName="dni"
          name="dni"
          placeholder="DNI"
        />
        <span
          *ngIf="form.controls['dni'].errors?.['required'] && form.controls['dni'].touched"
          style="color: red"
        >
          DNI es requerido</span
        >
      </div>
    </div>
    <div class="col-lg-6 col-md-6">
      <div class="form-box subject-icon">
        <label>Imágenes de perfil:</label>
        <input
          class="field_class"
          type="file"
          (change)="imagenCargada($event)"
          id="images"
          name="images"
          multiple
        />
        <span
          *ngIf="(this.imagenes ? this.imagenes.length : 0) !== 1 && yaCargo"
          style="color: red"
        >
          1 imagen es requerida</span
        >
      </div>
    </div>

    <button class="submit_class" (click)="enviar()">Enviar</button>
  </div>
</form>
