<div class="container-a">
    <form id="login_form" class="form_class" [formGroup]="form" (ngSubmit)="ingresar()">
        <div>
            <button class="btn about-btn" (click)="volver()"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon><i class="ti-arrow-left"></i></button>
            <h1>Login</h1>
        </div>
        <div class="form_div">
            <label>Mail:</label>
            <input class="field_class" name="login_txt" type="text" formControlName="email" placeholder="Ingrese su mail" autofocus>
            <label>Password:</label>
            <input id="pass" class="field_class" name="password_txt" type="password" formControlName="password" placeholder="Ingrese su contraseña">
            <button class="submit_class" type="submit" form="login_form">Entrar</button>
        </div>
        <div *ngIf="errorMessage" class="error-message">
            <p>{{ errorMessage }}</p>
        </div>
        <div *ngIf="cargando" class="spinner-container">
            <mat-progress-spinner mode="indeterminate" diameter="30" color="primary"></mat-progress-spinner>
        </div>
    </form>
    <h3>Usuarios Rapidos</h3>
    <div>
        <button class="btn_default" (click)="userA()">Administrador</button>
        <button class="btn_default" (click)="userB()">Especialista</button>
        <button class="btn_default" (click)="userC()">Paciente</button>
    </div>
</div>