* {
    padding: 0px;
    margin: 0px;
}
header {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
    box-shadow: 5px 5px 10px rgb(0,0,0,0.3);
}
h1 {
    height: 15vh;
    margin-bottom: 0;
    font-family: 'system-ui';
    text-transform: uppercase;
    text-align: center;
}
h3
{
    font-size: 2em; 
      color: rgb(0, 0, 0);
      background-color: white; 
      padding: 10px; 
      border-radius: 5px; 
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}
.container-a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100% !important;
    background-image: url('../../../../public/fondoMenu.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}
.form_class {
    width: 500px;
    padding: 20px;
    border-radius: 8px;
    background-color: white;
    font-family: 'system-ui';
    box-shadow: 5px 5px 10px rgb(0,0,0,0.3);
    margin-top: 50px;
}
.form_div {
    text-transform: uppercase;
}
.form_div > label {
    letter-spacing: 3px;
    font-size: 1rem;
}
.info_div {
    text-align: center;
    margin-top: 20px;
}
.info_div {
    letter-spacing: 1px;
}
.field_class {
    width: 100%;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    padding: 5px 0px;
    text-indent: 6px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'system-ui';
    font-size: 0.9rem;
    letter-spacing: 2px;
}
.submit_class {
    border-style: none;
    border-radius: 5px;
    background-color: #FFE6D4;
    padding: 8px 20px;
    font-family: 'system-ui';
    text-transform: uppercase;
    letter-spacing: .8px;
    display: block;
    margin: auto;
    margin-top: 10px;
    box-shadow: 2px 2px 5px rgb(0,0,0,0.2);
    cursor: pointer;
}
.btn_default {
    margin: 10px 0;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
}
.error-message {
    background-color: #f8d7da; 
    color: #721c24; 
    padding: 5px; 
    border: 1px solid #f5c6cb; 
    border-radius: 5px; 
    margin-top: 10px;
}
.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
