<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
      <a class="navbar-brand" href="bienvenida" (click)="salir()">
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="home"
        ></mat-icon>
      </a>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li *ngIf="perfilActual === 'Administrador'" class="nav-item">
            <button class="nav-link btn" (click)="verSeccionUsuario()">
              <span>Usuarios</span>
            </button>
          </li>
          <li class="nav-item">
            <button class="nav-link btn" (click)="verMiPerfil()">
              <span>Mi perfil</span>
            </button>
          </li>
          <li
            *ngIf="
              perfilActual === 'Administrador' || perfilActual === 'Paciente'
            "
            class="nav-item"
          >
            <button class="nav-link btn" (click)="verSolicitarTurno()">
              <span>Solicitar turno</span>
            </button>
          </li>
          <li *ngIf="perfilActual === 'Especialista'" class="nav-item">
            <button class="nav-link btn" (click)="verPacientes()">
              <span>Pacientes</span>
            </button>
          </li>
          <li
            *ngIf="
              perfilActual === 'Administrador' ||
              perfilActual === 'Paciente' ||
              perfilActual === 'Especialista'
            "
            class="nav-item"
          >
            <button class="nav-link btn" (click)="verTurnos()">
              <span *ngIf="perfilActual === 'Administrador'">Turnos</span>
              <span *ngIf="perfilActual !== 'Administrador'">Mis Turnos</span>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <main>
    <div class="container pt-4">
      <div
        *ngIf="pestania === 0 && perfilActual === 'Administrador'"
        [@slideInLeft]
      >
        <app-seccion-usuarios></app-seccion-usuarios>
      </div>
      <div *ngIf="pestania === 1" [@slideInLeft]>
        <app-mi-perfil></app-mi-perfil>
      </div>
      <div *ngIf="pestania === 2" [@slideInLeft]>
        <app-solicitar-turno
          (turnoCargado)="verTurnos($event)"
        ></app-solicitar-turno>
      </div>
      <div *ngIf="pestania === 3" [@slideInLeft]>
        <app-turnos></app-turnos>
      </div>
      <div *ngIf="pestania === 4" [@slideInLeft]>
        <app-historia-clinica-form></app-historia-clinica-form>
      </div>
    </div>
  </main>
</div>
